@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  max-width: 1200px;
  min-width: 850px;
  margin: 0 auto;
  margin-top: 20px;
}

p{
  font-size: 20px;
}

.empty{
  width: 100px
}

.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  background-color: rgb(53, 72, 157);
  color: white;
  height: 90px;
  line-height: 45px;
}

.header a img{
  width:60px;
  margin: 15px 0px 0px 40px;
}

.title{
  background-color: rgb(255, 238, 218);
  padding: 5px 0px 5px 20px;
  font-family: 'Oswald';
  border-bottom: solid 4px black;
}
