<!DOCTYPE html>
<html
  <head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/common.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/main.js"></script>
    <title>RIW</title>
  </head

  <body>
    <div class="header">
      <a href="/"><img src="../static/images/home_icon.png"></a>
      <h1>Resolution Improvement Website</h1>
      <div class="empty"></div>
    </div>

    <div class="row">
      <!-- About Website -->
      <div class="introduction">
        <h1 class="title">About this WebSite</h1>
        <div class="introduction-container">
          <p>
            Improve the resolution of your images for free!<br>
            Our website uses deep-learning to create enhanced files.<br>
            But you don't need to know about the technology in detail.<br>
            Just upload and download processed images.
          </p>
        </div>
      </div>

      <div class="uploading">
        <h1 class="title">Upload</h1>
        <h2>Please upload the files you want to process</h2>

        <!-- 로딩 화면 -->
        <div class="loader" style="display:none;"> </div>

        <!-- 기존 화면 -->
        <section id="sec">
          <div class="upload-box">
            Drag the files
          </div>
          <input class="input-btn" multiple="multiple" class="input-btn" type="file" accept="image/*"><br>
          <div class="selected">
            Selected Files
            <div class="selected-zone"></div>
          </div>
          <button type="button" class="upload-btn">Upload</button>
      </section>
    </div>

    </div>

  </body>
</html>
