<!DOCTYPE html>
<html
  <head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/common.css">
    <script src="/static/fileprocess.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>RIW</title>
  </head

  <body>
    <div class="header">
      <h1><a href="main.html">Resolution Improvement Website</a></h1>
    </div>

    <div class="row">
      <!-- About Website -->
      <div class="introduction">
        <h1 class="title">About this WebSite</h1>
        <div class="introduction-container">
          <p>
            Improve the resolution of your image or video for free!<br>
            Our website uses deep-learning to create enhanced files.<br>
            But you don't need to know about it in detail.<br>
            Just follow the instructions on the website and you will be fine.
          </p>
          <div class="photo-container">
            <div class="photo">
              <img src="/static/images/best_photo1.png" style="height:150px;">
              <div class="photo-explanation">Before</div>
            </div>
            <div class="photo">
              <img src="/static/images/best_photo1.png" style="height:150px;">
              <div class="photo-explanation">After</div>
            </div>
          </div>
        </div>
      </div>

      <div class="processing">
        <h1 class="title">Processing</h1>
        <h2>Please upload the files you want to process</h2>
        <section id="sec">
          <div class="upload-box">
            Drag the files
          </div>
          <input multiple="multiple" class="input-btn" type="file" accept="video/*, image/*"><br>
          <div class="selected">
            Selected Files
            <div class="selected-zone"></div>
          </div>
          <button type="button" class="process-btn">Process</button>
      </section>
    </div>

    </div>
    <div class="footer">
      <div class="contact-info">
        <p>Email: abcde@gmail.com</p>
        <p>Phone number: 010-0000-0000</p>
      </div>
    </div>
  </body>
</html>
