<!DOCTYPE html>
<html
  <head>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/process.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/process.js"></script>
    <title>RIW</title>
  </head

  <body>
    <div class="header">
      <a href="/"><img src="../static/images/home_icon.png"></a>
      <h1>Resolution Improvement Website</h1>
      <div class="empty"></div>
    </div>

    <div class="processing">
      <h1 class="title">Process</h1>

      {% for f in file_list %}
        <div class="process-container">
          <div class="file-container">
            <img src="{{ url_for('static', filename='./uploaded_files/'+f) }}" style="width:250px;"><br>
            {{f}}
          </div>
          <div class="btn-container">
            <div class="loader"> </div>
            <a class="download-path" href="{{ url_for('static', filename='./processed_files/'+f) }}" download={{f}}>
              <button class="download-btn" type="button" name="button">Download</button>
            </a>
          </div>
        </div>
    {% endfor %}

    <button class="download-all-btn" type="button" name="button">Download All</button>


  </body>
</html>
